---
title: Actividades
heading: Cómo desarrollamos
subtitle: Ve algunos avances y pasos importantes de nuestra comunidad.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_actividades/" class="btn"><strong>&#9998;</strong> Catálogo</a></p>
		<ul class="image-grid">
			{% for actividad in site.actividades %}
				<li>
					<a href="{{ site.baseurl }}{{ actividad.url }}">
						<img src="{% include relative-src.html src=actividad.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ actividad.name }}</div>
							<div class="position">{{ actividad.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
