---
title: Bienvenida desde el grupo de Telegram
heading: Bienvenida
subtitle: Nuestra presentación y reglamento
sitemap: false
---

<meta http-equiv="refresh" content="1; url=https://www.xn--deepinenespaol-1nb.org/home/bienvenida-telegram/">
<section class="diagonal patterned">
	<div class="container">
		<h2 id="notedesesperes">¡Te llevaremos a deepinenespañol.org!</h2>
		<p>Espera unos segundos. <a href="https://www.xn--deepinenespaol-1nb.org/home/bienvenida-telegram/">O haz clic</a>.</p>
  </div>
</section>
