---
title: Descarga Deepin
heading: Deepin
subtitle: Obten la última versión en varios portales
---
<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Descarga la imagen oficial (ISO)</h3>
			<ul>
			<li><p><a href="{{ site.data.externalurl.cddeepin }}">Sitio web oficial (China)</a>;</p></li>
			<li><p><a href="{{ site.data.externalurl.sourceforge }}">En SourceForge</a>;</p></li>
			<li><p><a href="{{ site.data.externalurl.googledrive }}">En Google Drive</a>;</p></li>
			<li><p><a href="{{ site.data.externalurl.meganz }}">En Mega</a>;</p></li>
			</ul>
			<p>La versión de 32 bits (marzo de 2017) está disponible y solo recibe actualizaciones en línea.</p>
			<ul>
			<li><p><a href="{{ site.data.externalurl.cddeepin32 }}">Sitio web oficial (China)</a>;</p></li>
			<li><p><a href="{{ site.data.externalurl.kernelorg32 }}">En Kernel.org</a>;</p></li>
			<li><p><a href="{{ site.data.externalurl.sjc0232 }}">En el espejo de Silicon Valley</a>;</p></li>
			<li><p><a href="{{ site.data.externalurl.meganz32 }}">En Mega</a>;</p></li>
			</ul>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/application-x-iso.png" alt="Imagen disco" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/folder-saved-search.png" alt="Carpeta de búsqueda" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Adicional</h3>
            <p>Si deseas, puedes descargar Deepin de otras formas:</p>
			<ul>
            <li><p><a href="{{ site.data.externalurl.ayudadeepin }}/deepin/bittorrent">Descarga desde Bittorrent</a></p></li>
            <li><p><a href="{{ site.data.externalurl.ayudadeepin }}/deepin/mirrorcd">Descarga desde otros espejos</a></p></li>
			</ul>
			<p>
			<p>Tenemos una documentación para conocer a profundidad:</p>
			<ul>
            <li><p><a href="{{ site.data.externalurl.ayudadeepin }}/deepin/download">Cómo instalar Deepin</a></p></li>
						<li><p><a href="{{ site.data.externalurl.ayudadeepin }}/deepin/sabores">Sabores de Deepin</a></p></li>
			</ul>

		</div>
	</div>
</section>


<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Prepara la unidad de arranque</h3>
			<p class="editable">La <a href="{{ site.data.externalurl.ayudadeepin }}/deepin/discoarranque/">unidad de arranque</a> contiene la información para instalar el sistema operativo.</p>
			<p class="editable">Necesitarás de una unidad USB de 4 GB o un DVD y la ISO de Deepin.</p>
			<p class="editable">Usa <a href="https://rufus.akeo.ie/?locale">Rufus</a>, <a href="https://unetbootin.github.io">Unetbootn</a> o la propia Deepin Boot Maker.</p>
			<p class="editable">Con esas aplicaciones ya puedes preparar la unidad en unos minutos.</p>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/deepin-boot-maker.png" alt="Deepin Boot Maker" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
	</div>
</section>
