---
title: Página especiales
heading: Páginas especiales
subtitle: Conservando el futuro de nuestra comunidad
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_especiales/" class="btn"><strong>&#9998;</strong> Catálogo</a></p>
		<ul class="image-grid">
			{% for especial in site.especiales %}
				<li>
					<a href="{{ site.baseurl }}{{ especial.url }}">
						<img src="{% include relative-src.html src=especial.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ especial.name }}</div>
							<div class="position">{{ especial.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
