---
title: Set de iconos para Deepin
heading: Deepin
subtitle: Aficionados al arte, lo que prima es la calidad visual
---
<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Marea</h3>
			<p class="editable">Diseñado por Carlos Moreno, incluido en Deepin 15.5.</p>
			<p class="editable">Licencia: <a href="{{ site.url }}/gplv3/">GPLv3</a> (requiere atribución)</p>
			<p class="editable"><a href="https://github.com/Carlosmorenoe/Marea/releases">Descarga Marea &rarr;</a></p>
			<p class="editable"><a href="https://github.com/Carlosmorenoe/Marea">Código fuente &rarr;</a></p>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/marea-launcher.png" alt="Marea" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/halo-launcher.png" alt="Halo" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Halo</h3>
			<p class="editable">Diseñado por Alejandro Camarena, incluido en Deepin 15.5.</p>
			<p class="editable">Licencia: <a href="{{ site.url }}/gplv3/">GPLv3</a> (requiere atribución)</p>
			<p class="editable"><a href="https://github.com/deepin-espanol/Halo-icons/releases">Descarga Halo &rarr;</a></p>
			<p class="editable"><a href="https://github.com/deepin-espanol/Halo-icons">Código fuente &rarr;</a></p>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Sets comunitarios</h3>
			<p class="editable">Otros dieseños por Alejandro Camarena, Alvaro Samudio y Carlos Moreno.</p>
			<p class="editable">Licencia: <a href="{{ site.url }}/gplv3/">GPLv3</a> (requiere atribución), incluye marcas registradas, algunas porciones bajo licencia Apache</p>
			<p class="editable"><a href="https://github.com/deepin-espanol/deepin-icon-theme-community">Descarga los sets desde el código fuente &rarr;</a></p>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/materialw-music.png" alt="Icono MaterilalW" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
	</div>
</section>
