---
title: Deepin en Español - Comunidad
heading: Deepin en Español
subtitle: Un sistema operativo diferente, ¡en nuestro idioma! Trucos para Deepin, personalización, aplicaciones, noticias y aportes de la comunidad.
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Deepin en Español</h2>
		<p class="subtext editable">Somos una <strong>comunidad</strong> que desarrolla software GNU/Linux para integrar la belleza, sencillez y libertad para las PCs.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/blog/">Visita nuestro blog</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">La comunidad en acción</h3>
			<p class="editable">Llevamos el conocimiento, la calidad y la experiencia para que uses Deepin. Incluso puedes participar.</p>
			<p class="editable"><a href="{{ site.baseurl }}/actividades/">Visita nuestras actividades &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for actividad in site.actividades limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ actividad.url }}"><img alt="Imágenes de las actividades" src="{% include relative-src.html src=actividad.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/package-updated-succeed.png" width="250" style="margin-bottom: 40px;" alt="Paquetes"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Actualizado frecuentemente</h3>
			<p class="editable">En Deepin recibirás actualizaciones. Deepin funciona con PC de 64 bits (recomendado), 2 GB de RAM y 10 GB de disco.</p>
			<p class="editable"><a href="{{ site.baseurl }}/download/">Descarga Deepin &rarr;</a></p>
			<p class="editable"><a href="{{ site.baseurl }}/caracteristicas/">Mira sus características &rarr;</a></p>
			<p class="editable"><a href="https://distrowatch.com/table.php?distribution=deepin">Historial y más en Distrowatch &rarr;</a></p>
		</div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Ayuda en línea para todos</h3>
			<p class="editable">Para los nuevos usuarios ofrecemos una página de ayuda con el manual, tips, ilustraciones, etcétera.</p>
			<p class="editable"><a href="{{ site.data.externalurl.ayudadeepin }}">Encuentra tu duda en la base de datos &rarr;</a></p>
			<p class="editable"><a href="{{ site.baseurl }}/redes/">Búscanos en las redes sociales &rarr;</a></p>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/help.png" width="250" style="margin-bottom: 40px;" alt="Ayuda"></li>
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/icons/materialw-music.png" width="250" style="margin-bottom: 40px;" alt="Icono de música"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Sets originales</h3>
			<p class="editable">La comunidad desarrolla varios sets de iconos. Incluyendo algunos exclusivos como Marea y Halo.</p>
			<p class="editable"><a href="{{ site.baseurl }}/iconos/">Descarga Marea, Halo y otros más &rarr;</a></p>
		</div>
	</div>
</section>
