---
title: Deepin en Español en las redes sociales
heading: Redes sociales
subtitle: Seguimos en contacto
---
<section class="diagonal alternate">
	<div class="container">
<p>Deepin en español tiene las siguientes redes sociales:</p>

<ul>
<li><p><a href="https://t.me/deepinenespanol">Grupo en Telegram</a></p></li>
<li><p><a href="https://plus.google.com/communities/115544729561220868525">Grupo en Google+</a></p></li>
<li><p><a href="https://www.facebook.com/DeepinOSenEspanol/">Página en Facebook</a></p></li>
</ul>

<p>Adicionalmente, los voluntarios organizaron grupos en otras plataformas:</p>
<ul>
<li><p><a href="https://discord.gg/SXe3aMp">Grupo en Discord</a></p></li>
<li><p><a href="https://riot.im/app/#/group/+deepin-espanol:matrix.org">Grupo en Matrix (accesible desde Riot)</a></p></li>
</ul>

<p>Puedes comunicarte en las mencionadas redes. Algunas requieren registro.</p>
  </div>
</section>
