{% case include.icon %}
	{% when "Facebook" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 4v3h-2a1 1 0 0 0-1 1v2h3v3h-3v7h-3v-7h-2v-3h2V7.5c0-2 1.6-3.5 3.5-3.5M20 2H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4c0-1-1-2-2-2z"/></svg>
	{% when "Google Plus" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M23 11h-2V9h-2v2h-2v2h2v2h2v-2h2M8 11v2.4h4c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1l2-1.7c-1.3-1.5-3-2-4.8-2-4 0-7 3-7 7s3 7 7 7 6.7-3 6.7-7v-1H8z"/></svg>
	{% when "Instagram" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8c0 2 1.6 3.6 3.6 3.6h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6c0-2-1.6-3.6-3.6-3.6H7.6m9.7 1.5a1.3 1.3 0 0 1 1.2 1.3A1.3 1.3 0 0 1 17.2 8 1.3 1.3 0 0 1 16 6.7a1.3 1.3 0 0 1 1.3-1.2M12 7a5 5 0 0 1 5 5 5 5 0 0 1-5 5 5 5 0 0 1-5-5 5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3z"/></svg>
	{% when "LinkedIn" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 19h-3v-5.3a1.5 1.5 0 0 0-1.5-1.5 1.5 1.5 0 0 0-1.5 1.5V19h-3v-9h3v1.2c.5-.8 1.6-1.4 2.5-1.4a3.5 3.5 0 0 1 3.5 3.5m-12.5-5c-1 0-1.8-.8-1.8-1.8a1.8 1.8 0 0 1 1.8-1.8c1 0 1.8.8 1.8 1.8a1.8 1.8 0 0 1-1.8 1.8M8 19H5v-9h3m12-8H4C3 2 2 3 2 4v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4c0-1-1-2-2-2z"/></svg>
	{% when "Pinterest" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M13 16.2c-.8 0-1.6-.3-2-1l-1 3.3v.2h-.2c-.2.3-.5.5-1 .5s-1-.5-1-1v-.5l2-5.6s-.3-.4-.3-1.3c0-1.7 1-2.2 1.7-2.2s1.4.3 1.4 1.3c0 1.3-1 2-1 3 0 .8.7 1.4 1.4 1.4 2.4 0 3.2-1.7 3.2-3.3 0-2.3-2-4-4.2-4-2.3 0-4.2 1.7-4.2 4 0 .5.2 1.2.5 2l.2.3a1 1 0 0 1-1 1c-.4 0-.7 0-1-.4-.4-1-.7-2-.7-3 0-3.3 2.8-6 6.2-6 3.4 0 6.2 2.7 6.2 6 0 2.6-1.6 5.4-5.2 5.4m7-14H4C3 2 2 3 2 4v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4c0-1-1-2-2-2z"/></svg>
	{% when "Telegram" %}
		<svg class="telegram" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.4 19.4c.5 0 .7-.1.9-.4l2.6-2.6-3.2-1.8"/><path d="M9.7 14.5l8 5.8c.8.4 1.3.3 1.7-.9l3-14.8c0-1.3-.9-2-1.7-1.6L2.4 10.4c-1.1.5-1.1 1.2 0 1.3L7 13.5l11.1-7c.3-.3 1 0 .4.3"/></svg>
	{% when "Tumblr" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M16 11h-3v4c0 .6 0 1 1 1h2v3h-2c-2.8 0-4-1.5-4-3.3V11H8V8.2c2.4-.2 2.6-2 2.8-3.2H13v3h3m4-6H4C3 2 2 3 2 4v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4c0-1-1-2-2-2z"/></svg>
	{% when "Twitter" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M22.5 6c-.8.3-1.6.6-2.5.7 1-.5 1.6-1.4 2-2.4-1 .5-2 1-2.8 1-.8-.8-2-1.3-3.2-1.3-2.3 0-4.3 2-4.3 4.3v1C8.4 9 5.2 7.3 3 4.8c-.4.6-.6 1.4-.6 2 0 1.6.8 3 2 3.7-.8 0-1.4-.2-2-.5 0 2 1.5 3.8 3.4 4.2l-1 .2h-1c.6 1.6 2.2 3 4 3-1.4 1-3.2 1.7-5.2 1.7h-1c1.8 1.5 4 2 6.5 2 8 0 12.5-6.3 12.5-12v-.6c1-.6 1.6-1.3 2.2-2.2z"/></svg>
	{% when "YouTube" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 16.5v-9l6 4.5m4-7.6c-.6-.2-4.3-.4-8-.4s-7.4.2-8 .4c-1.6.5-2 4-2 7.6 0 3.6.4 7 2 7.6.6.2 4.3.4 8 .4s7.4-.2 8-.4c1.6-.5 2-4 2-7.6 0-3.6-.4-7-2-7.6z"/></svg>
	{% when "RSS" %}
		<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><circle cx="6.18" cy="17.82" r="2.18"/><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"/></svg>
	{% when "Link" %}
		<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 12c0-1.7 1.3-3 3-3h4V7H7c-2.8 0-5 2.2-5 5s2.2 5 5 5h4v-2H7c-1.7 0-3-1.3-3-3zm4 1h8v-2H8v2zm9-6h-4v2h4c1.7 0 3 1.3 3 3s-1.3 3-3 3h-4v2h4c2.8 0 5-2.2 5-5s-2.2-5-5-5z"/></svg>
{% endcase %}
