---
layout: compress
---

<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="generator" content="Jekyll v{{ jekyll.version }}">
	<meta name="copyright" content="Copyright &#xA9; {{ site.data.organization.title }}. Todos los derechos reservados.">
	<!--Código añadido desde. No añadir en config -->
	<meta name="description" content="{% if page.subtitle %}{{ page.subtitle | truncate: 160 }}{% else %}{{ site.data.organization.description | truncate: 160  }}{% endif %}" />-->

	<link rel="stylesheet" href="{{ site.baseurl }}/css/start.css">

	<!-- Enlace Canonical -->
	<link rel="canonical" href="{{ site.official_url }}" />

  <!-- Característica: Favicon -->
	{% include _favicon.html %}
	{% include _redirect.html %}
	{% include _404.html %}

	<!--SEO sin descripción para evitar interferencias (ver post "quince")-->
	{% seo %}
	{% feed_meta %}

	{% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
		<script>
			(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,"script","//www.google-analytics.com/analytics.js","ga");

			ga("create", "{{ site.google_analytics_key }}", "auto");
			ga("send", "pageview");
		</script>
	{% endif %}

</head>
	<body>
		<header>
			<div class="container">
				<h1 class="organization-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" alt="Deepin en Español" width="150"></a></h1>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}

		<footer class="diagonal">
			<div class="container">
				<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml" class="btn"><strong>&#9998;</strong> Update Footer Sections</a></p>

				<div class="footer-columns">
					{% for column in site.data.footer %}
						<ul class="footer-links">
							<li>
								<h2>{{ column.title }}</h2>
							</li>
							{% for link in column.links %}
								<li>
									<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
										{% if link.social_icon %}
											{% include social-icon.html icon=link.social_icon %}
										{% endif %}

										{{ link.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endfor %}

					<ul class="footer-links">
						<li>
							<h2>{{ site.data.organization.title }}</h2>
						</li>
						<li>{{ site.data.organization.description }}</li>
						<li><a href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %} Suscríbete en RSS</a></li>
						<li><a href="{{ site.baseurl }}/seguridad">{% include social-icon.html icon="Link" %} Información sobre seguridad</a></li>
					</ul>
				</div>
			</div>

			<div class="legal-line">
				<p class="container">
					&copy; {{ site.time | date: '%Y' }} {{ site.data.organization.title }}
					&bull;
					Con ♥ de afición
					&bull;
					<a href="{{ site.baseurl }}/tos/">TOS</a>
					&bull;
					<a href="{{ site.baseurl }}/licencia/">Licencia</a>
					&bull;
					<a href="{{ site.baseurl }}/agradecimientos/">Agradecimientos</a>
					<br/>
					La marca Deepin es de <a href="http://deepin.org/">Wuhan Deepin Technology Co., Ltd.</a>
					&bull;
					Diseño de <a href="http://cloudcannon.com/">CloudCannon</a>
				</p>
			</div>
		</footer>


		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</body>
</html>
<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
