---
layout: default
---
{% assign especial = site.pages | where: "path", "especial.html" | first %}

<section class="hero diagonal">
	<div class="container">
		{% if especial.heading %}
		<h2><a href="{{ site.baseurl }}/especial/">{{ especial.heading }}</a> / {{ page.title | capitalize }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p>
		<div>
			{{ content }}
		</div>
	</div>
</section>
